DISCORD_WEBHOOK_URL=
API_PORT=3333 # do not change that port, it uses the same port and in this version we do not support custom ports
ROOT_PATH= # path where you store your vaults, eg. /Users/Midas/Documents/Obsidian
VAULTS=Private, work, hobby # coma separated list of vaults you want to monitor

# When enabled all reminders with a date in the past will be marked as sent when service starts. This is useful to avoid sending notifications for past reminders when you start the service after a while.
# It's useful to set it to false when you often turn on and off the service
FEATURE_INIT_PAST_DATES_AS_SENT=false

# If enabled the content of the reminder will be included in the reminder message sent to Discord, otherwise only a generic "you have a reminder" message will be sent.
FEATURE_SENT_REMINDER_CONTENT=true

# If enabled, the reminder message sent to Discord will include a deeplink to reminder block in Obsidian
# so after clicking on Discord message Obsidian will be opened at that reminder.
FEATURE_SEND_OBSIDIAN_LINK=true